.series-header {
    width: 100%;
    height: auto;
    background: #1c1c1c;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .series-header-content {
    max-width: 1280px;
    /*min-height: 120px;*/
    height: auto;
    padding: 20px 0px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .series-logo {
    /*width: 300px;*/
    /*margin-top: 20px;*/
    float: left;
  }
  
  .series-tmdb-logo {
    width: 122px;
    margin-top: 25px;
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .series-header-content {
      max-width: 1280px;
      min-height: 0px;
    }
  
    .series-tmdb-logo {
      display: inline-block;
      width:80px;
      margin-top: 0px;
    }
  
    .series-logo {
      width: 150px;
      margin-top: 5px;
    }
  }

  .loc1 {
    font-size: 40px;
    float: left;
    margin-left: 971px;
    margin-bottom: 20px;
    color: #969AF7;
  }

  .loc2{
    font-size: 40px;
    float: left;
    margin-left: 34px;
    margin-bottom: 20px;
    color: #00CC5E;
  }