.series-home {
    margin-bottom: 100px;
  }
  
  .series-home-grid {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .colS4 {
    float: left;
    width:80px;
    height:100%;
    border: 0px solid burlywood;
    margin-top:17px;
  }

  .rowContainer {
    margin:0 auto;
    display:table;
  }

