.series-tabla {
    width: 1000px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    border: 0px solid #cacaca;
  }

.series-tabla-container {
    /*width: 80%;*/
    text-align: center; 
    float:left;
}

.imgSerie {
  float: left;
  height:150px;
  width:300px;
  background-size: 100% 100%;
  background-color: rbga(100,100,100,.5);
}

.colS1 {
  float: left;
  width:300px;
  height:100%;
  border: 0px solid burlywood;
  padding-left:30px;
  margin-top:40px;
}

.seriesNombre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  border:0px solid #cacaca;
  text-align: left;
  @media screen and (max-width: 576px) {
    color: greenyellow;
  }
}
.seriesSeason {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #747474;
  border:0px solid #cacaca;
  text-align: left;
  padding-left: 5px;
}

.colS2 {
  float: left;
  width:140px;
  height:100%;
  border: 0px solid burlywood;
  margin-top:17px;
}

.episodio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 90px;
  color: #969AF7;
  float:left;
}

.colInterna {
  width: 20px;
  border: 0px solid black;
  float:left;
  margin-top:20px;
  margin-left:12px;
}

.botonEpisodio {
  float:left;
  border: 1px solid #dddddd;
  width:15px;
  height:20px;
  margin-top:5px;
  color: #848484;
}

.colS3 {
  float: left;
  width:140px;
  height:100%;
  border: 0px solid burlywood;
  margin-top:17px;
}

.colS4 {
  float: left;
  width:80px;
  height:100%;
  border: 0px solid burlywood;
  margin-top:17px;
}

@media screen and (max-width: 576px) {
  .imgSerie {
    float: left;
    height:50px;
    width:100px;
  }

  .seriesNombre {
    color: greenyellow;
  }
 }

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

Small devices (landscape phones, 576px and up)*/
@media screen and (max-width: 576px) {
  .imgSerie {
    float: left;
    height:50px;
    width:100px;
  }

  .seriesNombre {
    color: greenyellow;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }